@import 'https://fonts.googleapis.com/css?family=Roboto+Slab|Ubuntu';

html{
    background-color: #cccccc;
}
*{
    padding: 0;
    margin: 0;
}
.page{
    display: none;
}
.active{
    display: block;
}
p{
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: white;
}
h1, h2, h3, h4{
    font-family: 'Roboto Slab', Rockwell, "Times New Roman", serif;
    color: #081c24;
}
h2{
    margin-left: 19.5rem;
}
#search-button{
    float: right;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    padding-bottom: 5px;
}
#filter-button{
    float: right;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    padding-bottom: 5px;
}
#back-button{
    float: right;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    padding-top: 5px;
    padding-right: 10px;
}
.iconic-property-stroke,
.iconic-property-fill {
    fill: #346;
    stroke: #346;
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
header{
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 5rem;
}
h1{
    text-align: center;
    margin-bottom: 10rem;
    margin-top: 5rem;
}
#search-input{
    align-self: center;
    width: 500px;
    height: 40px; 
    border-radius: 2px;
    box-shadow: 1px 3px 10px;
    padding-left: 5px;
    border-style: solid;
    border-color: dimgray;
}
.attribution{
    height: auto;
    width: 150px;
    margin: auto;
}
.searchButtonDiv{
    align-self: flex-end;
    width: 50px;
}
.backButtonDiv{
    display: inline-block;
    width: 110px;
    float: left;
    flex-wrap: wrap;
}
.filterButtonDiv{
    align-self: flex-end;
    width: 50px;
}

/*Add this class to the recommend and search results content sections in HTML*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.movieCard {
    width: 50rem;
    height: auto;
    margin: 1rem auto;
    background-color: dimgray;
    color: white;
    animation: fadeIn 1s;
    padding: 1rem;
    border-radius: 5px;
}
.movieCard:hover{
    box-shadow: 5px 5px 8px black;
    width: 60rem;
}

.imageSection {
    float: left;
    width: 12rem;
    height: 17rem;
    margin-right: 1rem;
    overflow: hidden;
}

/*select only the images that are direct descendants of .imageSection*/
.imageSection > img {
    height: 17rem;
    margin-right: 1rem;
}




/*MODAL WINDOW STUFF*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 500px;
  height: 280px;
  z-index: 200;
  top: calc((100% - 280px)/2);
  left: calc((100% - 500px)/2);
  line-height: 1.5;
  color: dimgray;
  background-color: #cccccc;
}

/* use these class names to show or hide the overlay and modal window */
.show {
  display: block;
}
.hide {
  display: none;
}
.off {
  transform: translateY(-400%);
}
.on {
  transform: translateY(0);
}

.cancelButton,
.saveButton {
  width: 120px;
  position: absolute;
  border: none;
  background-color: dimgray;
  color: white;
  cursor: pointer;
  padding: 0.25rem 2rem;
  font-size: 1rem;
    border-radius: 5px;
}

.saveButton {
  bottom: 1rem;
  right: 4rem;
}

.cancelButton {
  bottom: 1rem;
  left: 4rem;
}

.modal-header{
  background-color: dimgray;
  color: white;
}

.modal-radio {
  text-align: center;
  margin-top: 4rem;
}


